.navbar-inverse {
background-color: #333f48;
border-color: #333f48;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
color: #ffffff;
background-color: #bf5700;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
color: #ffffff;
background-color: #bf5700;
}

a:hover, a:focus {
    color: #bf5700;
    text-decoration: underline
}

h1.title {
font-size: 38px;
font-weight: 700;
margin-bottom: 40px;
}

body {
font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
font-size: 18px;
line-height: 1.6;
color: #333333;
background-color: #ffffff;
}

#main-banner {
  margin-top: 30px;
  margin-bottom: 20px;
}

#github {
  padding-top: 13px;
  padding-right: 18px;
  padding-bottom: 14px;
  padding-left: 18px;
}

.snippet {
  border: solid 1px #cccccc;
  margin-bottom: 12px;
  width: 100%;
}

.screenshot {
  border: solid 1px #cccccc;
}

.holder {
  padding-right: 5px;
  padding-bottom: 5px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.thumbnail {
  border: 1px solid white;
}

.thumbnail .caption {
  padding: 0;
  padding-top: 4px;
  padding-left: 3px;
  font-size: 0.9em;
  color: gray;
}

a.thumbnail:hover {
  text-decoration: none;
}

table a:not(.btn), .table a:not(.btn) {
  text-decoration: none;
}

table a:not(.btn):hover, .table a:not(.btn):hover {
  text-decoration: underline;
}
