
/* Adjust Inline-Code Box */

.remark-code-line {
  min-height: 1em;
  border-radius: 3px;
  padding: 4px;
  background-color: #f8f8f8;
}

/* Adjust Inline-Code Highlighting */

a, a > code {
  color: #FF1B70; /*default: rgb(249, 38, 114); || sets color of links */
  text-decoration: none; /* turns off background coloring of links */
}

/* Adjust Slide Margins */

/* .remark-slide-content {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px; */
}

/* Adjust Slide Margins of First Header 1 on Page */

.remark-slide-content > h1:first-of-type {
  margin-top: 0px;
}

/* Adjust Slide Margins of First Header 1 on Page */

.remark-slide-content > h1:first-of-type {
  margin-top: 0px;
}


.remark-code, .remark-inline-code { font-family: 'IBM Plex Mono', 'Lucida Console', Monaco, monospace; }
